{% block addressable_type_widget %}
<div {{ block('widget_container_attributes') }}>
	{% block addressable_type_html %} 
	<div id="{{ id }}_container">
		<input type="text" id="{{ id }}_input" />
        <button id="{{ id }}_search_button">Search</button>
        {% if include_current_pos_link %}
            <a href="#" class="btn btn-default" style="float: right" id="{{ id }}_current_position">Use my location</a>
		{% endif %}
        <div id="{{ id }}_map_canvas" class="gmap" style="width: {{ map_width }}; height: {{ map_height }}px; margin: 1em 0;"></div>
		<div id="{{ id }}_error"></div>
	</div>
	{% endblock %}
	{% block addressable_type_fields %} 
		{% for child in form %}
		    {{ form_row(child) }}
        {% endfor %}
	{% endblock %}
	{% block addressable_type_javascripts %}
		{% if include_jquery %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		{% endif %}
		{% if include_gmaps_js %}
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
		{% endif %}
		{% javascripts
			'@DaaAddressableBundle/Resources/public/js/addressable.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
	{% block addressable_type_javascript %}
		{% block addressable_type_callback %}
			<script type="text/javascript">
				var addressable_type_callback = function(location, gmap){
					// your callback function here
				}
			</script>	
		{% endblock %}
		<script type="text/javascript">
			$(function(){
				$('#{{ id }}_map_canvas').gMapType({
				  'search_input_el'    : $('#{{ id }}_input'),
				  'search_action_el'   : $('#{{ id }}_search_button'),
				  'search_error_el'    : $('#{{ id }}_error'),
				  'current_position_el': $('#{{ id }}_current_position'),
				  'default_lat'        : '{% if value is defined and value.latitude %}{{ value.latitude }}{% else %}{{ default_lat }}{% endif %}',
				  'default_lng'        : '{% if value is defined and value.longitude %}{{ value.longitude }}{% else %}{{ default_lng }}{% endif %}',
				  'default_zoom'       : {% if value is defined and value.latitude and value.longitude %}15{% else %}5{% endif %},
				  'lat_field'          : $('#{{ attribute(form, lat_field).vars.id }}'),
				  'lng_field'          : $('#{{ attribute(form, lng_field).vars.id }}'),
                  'country_field'      : $('#{{ attribute(form, country_field).vars.id }}'),
                  'zipcode_field'      : $('#{{ attribute(form, zipcode_field).vars.id }}'),
                  'streetname_field'   : $('#{{ attribute(form, streetname_field).vars.id }}'),
                  'streetnumber_field' : $('#{{ attribute(form, streetnumber_field).vars.id }}'),
                  'city_field'         : $('#{{ attribute(form, city_field).vars.id }}'),
				  'callback'           : addressable_type_callback
				});
			});
		</script>
	{% endblock %}
</div>
{% endblock %}